asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
dj-database-url==2.1.0
Django==3.2.21
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.6
Jinja2==3.1.2
MarkupSafe==2.1.5
numpy==1.26.4
opencv-python==4.8.1.78
packaging==24.0
Pillow==9.5.0
psycopg2==2.9.8
pypng==0.20220715.0
PyQRCode==1.2.1
pytz==2024.1
qrtools==0.0.2
requests==2.31.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.2.1
uvicorn==0.12.2
matplotlib==3.8.4
pyzbar==0.1.9